@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
}

:root{
    --bg-color: #8ea2b3;
    --main-color: #bb3939;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: wheat;
    --cover-color: linear-gradient(#6cc0f8, #0b78d2);
    --page-color: linear-gradient(90deg, #fff, #ddd);
    --border: .125rem solid #f74f4f;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/1122639/pexels-photo-1122639.jpeg?auto=compress&cs=tinysrgb&w=600');
    color: var(--text-color);
}

h6 {
    margin-bottom: 10px;
    color: white;
}

.wrapper {
    position: relative;
    width: 55rem;
    height: 35rem;
    padding: 2rem;
    margin: 1rem;
    perspective: 250rem;
    animation: show-animate 2s forwards;
}

@keyframes show-animate {
    0% {
        filter: blur(10px);
    }
    10% {
        filter: blur(9px);
    }

    20% {
        filter: blur(8px);
    }
    30% {
        filter: blur(7px);
    }
    40% {
        filter: blur(6px);
    }
    50% {
        filter: blur(5px);
    }
    60% {
        filter: blur(4px);
    }
    70% {
        filter: blur(3px);
    }
    80% {
        filter: blur(2px);
    }
    90% {
        filter: blur(1px);
    }

    100% {
        filter: blur(0px);
    }
}


.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #343b40;
    box-shadow: var(--box-shadow);
    border-radius: .6rem;
    opacity: 70%;
}

.cover-left{
    display: flex;
    align-items: end;
    justify-content: center;
}

.cover.cover-left{
    z-index: -1;
}

.book{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.book .book-page{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e7f0f8;
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
    border: var(--border);
    border-radius: 10px;
    display: flex;
    padding: 2rem;
}


.book-page.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 2s cubic-bezier(.275, .152, .115, 1) ;
}

.book-page.page-right.turn {
    transform: rotateY(-90deg);
}

.page-front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}

.nextprev-btn{
    position: absolute;
    width: 3rem;
    height: 2rem;
    bottom: .5rem;
    right: .8rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--second-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text-btn {
    position: absolute;
    bottom: .5rem;
    right: 2rem;
    font-size: small;
}

.back-btn {
    position: absolute;
    bottom: .5rem;
    left: 2rem;
    font-size: small;
}

.nextprev-btn.back {
    left: .8rem;
}

.nextprev-btn:hover {
    color: var(--main-color);
}

/* Nav */

.nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: var(--main-color);
    width: 100%;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
    
}

.nav-text {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-img {
    font-size: xx-large;
}

.nav-logo {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-main {
    display: flex;
}

.list-main a {
    color: white;
    margin: 0px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: medium;
    transition: all .5s ease;
}

.list-main a:hover {
    scale: .9;
}

/* 1st Page */

.main-page{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.main-para{
    line-height: 1.8rem;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: justify;
    height: 50%;
}
h1{
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--main-color);
}

h5{
    font: icon;
    font-size: small;
    margin-top: 20px;
}

.check-mark {
    color: var(--main-color);
}

.color {
    color: var(--main-color);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* dropdwon menu */

.menubar{
    position: absolute;
    content: '';
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cf5555;
    border-radius: 8px;
    z-index: 200;
    animation: menu-animate 1s ease;
}

@keyframes menu-animate {
    0% , 50% {
        top: -100%;
        opacity: 0;
    }

    100% {
        top: 0;
    }
}

.link{
    margin-bottom: 40px;
    color: rgb(50, 47, 47);
    font-weight: 400;
    font-style: normal;
    font: oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.link:hover {
    scale: 1.2;
    color: black;
    font: bold;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 8px;
}

.btn-close{
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: none;
    cursor: pointer;
    color: rgb(50, 47, 47);
    scale: 2;
    transition: all .5s ease;
}

.btn-close:hover {
    scale: 1.5;
    opacity: 80%;
    color: black;
}

.btn-open{
    position: absolute;
    content: '';
    display: none;
    top: 28%;
    right: 34px;
    width: 15px;
    height: 15px;
    color: white;
    border: 1px solid;
    border-radius: 3px;
    scale: 1.6;
    background: none;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-open:hover {
    background-color: #ea5252;
}


/* 2nd Page */

.second-page {
    background: #f7c8d2;
    width: 100%;
    height: 95%;
    border-radius: 4px;
    border: 1px solid;
    padding: 10px;
}

.text {
    position: absolute;
    top:30%;
    left: 55%;
    transform: translate(-50%, -40%);
    color: var(--main-color);
    opacity: 1;
    scale: 1.2;
    animation: none;
}

@keyframes text-animate {
    0%{
     opacity: 100%;
    }
    20%{
        opacity: 80%;
       }
       40%{
        opacity: 60%;
       }
       60%{
        opacity: 40%;
       }
       80%{
        opacity: 20%;
       }
       100%{
        opacity: 0;
       }
}

.text-1 {
    position: absolute;
    color:var(--main-color);
    font-style: oblique;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: none;
}

@keyframes text1 {
    0%,40%,80% {
        opacity: 0;
    }
    30%,60%,90% {
        opacity: 1;
    }
}


/* Butterflies */

h4 {
    background: url("https://cdn2.iconfinder.com/data/icons/animals/256/Butterfly.png");
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: heart-animate 15s linear;
}

@keyframes heart-animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100% {
        transform: translate(-5000%, -3000%);
        opacity: 0;
        filter: hue-rotate(4200deg);
    }
}

/* 3rd page */

.last-page {
    display: flex;
    flex-direction: column;
}

.last-para {
    line-height: 1.8rem;
    margin-top: 5px;
    padding-right: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: justify;
    overflow-y: scroll;
    max-height: 350px;

}




@media (max-width: 670px) {
    .list-main{
        display: none;
    }

    .btn-open{
        display: flex;
    }

    p{
        margin-bottom: 10px;
    }

    .page1-items {
        margin-top: 20px;
        overflow-y: scroll;
        max-height: 400px;
       
    }
}
